:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black80alpha: rgba(0, 0, 0, 0.8);
  --color-black60alpha: rgba(0, 0, 0, 0.6);
  --color-black40alpha: rgba(0, 0, 0, 0.4);
  --color-black30alpha: rgba(0, 0, 0, 0.3);
  --color-black20alpha: rgba(0, 0, 0, 0.2);
  --color-black15alpha: rgba(0, 0, 0, 0.15);
  --color-black10alpha: rgba(0, 0, 0, 0.1);
  --color-grey700: #555;
  --color-grey600: #757676;
  --color-dark-violet: #410d5d;
  --color-orange: #ed9209;
}